<section id="errors">
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Oops! The <%= object.class.name.humanize.downcase %> could not be saved.</h4>
  <p>Please correct the following <%= pluralize(object.errors.count, "error") %></p>
  <hr>
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
</section>

